:root{
    scroll-behavior: smooth;
}

.body {
    background-color: white;
    color: black;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.25rem 0.25rem 0 rgb(68, 231, 68);
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    padding: 0.3rem 2rem;
    margin: auto;
}

.header-nav__link-image-container{
    max-width: 4rem;
}

.header-nav__image{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem 0 rgb(68, 231, 68);
}

.header-nav__link-list{
    display: flex;
    gap: 1rem;
}

.header-nav__link-item{
    list-style: none;
}

.header-nav__link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(68, 231, 68);
    transition: all 0.3s;
}

.header-nav__link:hover{
    color: white;
}

.main{
    background-color:rgb(68, 231, 68);
}

.inicio{ 
    text-align: center;
    display: flex;
}

.inicio__cover-image{
    display: flex;
    justify-content: center;
}

.inicio__image-container{
    max-width: 36rem;
}

.inicio__image{
    width: 100%;
    border-radius: 12px;
}

.inicio__content{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: black;
    color:rgb(68, 231, 68);
    gap: 0;
    padding: 0 3rem;
    max-width: 33rem;
    margin: auto;
}

.inicio_title{
    margin: 0;
    width: 100%;
}

.inicio__description{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    width: 100%;
}